{{> navbar }}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Demandas Cadastradas</h5>
        {{#if demandas}}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Urgência</th>
                        <th>Status</th>
                        <th>Criada Em</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each demandas}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{titulo}}</td>
                        <td>{{urgencia}}</td>
                        <td>{{status}}</td>
                        <td>{{criada_em_fmt}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{else}}
        <p class="text-muted">Nenhuma demanda cadastrada.</p>
        {{/if}}
    </div>
</div>
